/* Estilos Globais */
@charset "UTF-8";

@media screen and (min-width: 783px) and (max-width: 1023px) {
    /* TABLET */    

    /* ----------HEADER---------- */
    
    header {
        align-items: center;
        padding:16px 40px;
        display: flex;
        justify-content: space-between;
    }
    
    header nav a {
        padding: 16px;
    } 

    header img {
        padding-bottom: 0px;
    }

    /* -------------------------- */
    /* -----------INICIO----------- */

    #inicio {
        display: flex;
        align-items: center;
        padding: 16px 40px 64px 40px;
        height: 430px;
    }

    .absolute {
        margin-top: 120px;
    }
    
    h1, h2 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .paragrafo {
        line-height: 110%;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: justify;
        font-size: 16px;
    }
    
    .centralizar{
        display: flex;
        font-size: 14px;
    }

    .botao, .botao_transparente {
        padding: 12px 20px;
        margin-left: 10px;
        font-size: 16px;
    }
    
    /* ----------CLINICA---------- */
    
    #clinica {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 20px;
    }
    
    #clinica ul  {
        margin-top: 16px;
        font-size: 16px;
    }
    
    /* ----------FARMACIA---------- */
    
    #farmacia {
        padding: 32px 40px;
    }
    
    #farmacia img {
        margin: 20px auto;
    }
    
    #farmacia .paragrafo {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }
    
    /* ----------DUVIDAS---------- */
    
    #duvidas {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 32px 40px;
    }
    
    .duvida {
        position: relative;
    }
    
    .duvida h3 {
        padding: 16px;
    }
    
    .duvida img {
        top: 15px;
        right: 10px;
    }

    .duvida.ativa .paragrafo {
        padding: 16px;
    }
    
    /* ---------FOOTER--------- */

    footer {
        display: flex;
    }
    /* ---------COPYRIGHT--------- */
}

@media screen and (min-width: 1024px) {
    /* DESKTOP */ 
    header {
        display: flex;
        justify-content: space-between;
        padding:24px 80px;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.411);
    }

    header img {
        padding-bottom: 0px;
    }
    
    header nav a {
        padding: 15px 32px;
    }
    
    /* -----------INICIO----------- */
    
    #inicio {
        display: flex;
        gap: 32px;
        padding: 24px 80px 128px 80px;
    }

    #inicio .foto{
        height: 300px;
    }
    
    h1, h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .paragrafo {
        line-height: 150%;
        font-weight: 400;
        margin-bottom: 6px ;
        font-size:1.1rem ;
    }
    
    .centralizar{
        width: 100%; 
        display: flex;
    }
    
    .botao, .botao_transparente {
        padding: 16px 24px;
        font-size: 16px;
    }
     
    .absolute {
        margin-top: 0px;
        height: 580px;
    }
    
    /* ----------CLINICA---------- */
    
    #clinica {
        gap: 64px;
        padding: 64px 80px;
    }

    #clinica img {
        width: 480px;
        height: 480px;
    }
    
    #clinica li {
        margin-top: 16px;
        margin-left: 32px;
        font-size: 18px;
    }
    
    /* ----------FARMACIA---------- */
    
    #farmacia {
        padding: 64px 80px;
    }
    
    #farmacia img {
        margin: 64px auto;
        width: 645px;
        height: 430px;
    }
    
    /* ----------DUVIDAS---------- */
    
    #duvidas {
        display: flex;
        gap: 64px;
        padding: 64px 80px;
    }
    
    .duvida h3 { 
        padding: 24px;
    }

    #duvidas .principal {
        width: 540px;
        height: 540px;
    }
    
    .duvida img {
        right: 24px;
    }
    
    .duvida .paragrafo {
        padding: 0 24px;
        margin-bottom: 20px;
    }
    
    .duvida.ativa .paragrafo {
        padding: 24px;
    }
    
    /* ---------FOOTER--------- */
    
    footer {
        gap: 80px;
        padding: 64px 80px;
        display: flex;
        font-size: 20px;
    }
    
    footer img, footer .titulo {
        margin-bottom: 24px;
    }
    
    footer nav a{
        margin-bottom: 16px;
    }
    
    footer p {
        margin-bottom: 16px;
        max-width: 350px;
    }
    
    /* ---------COPYRIGHT--------- */
    
    #copyright {
        padding: 24px;
    }
    
}

@media screen and (min-width: 1330px) {

    #inicio .foto{
        height: 580px;
        width: 580px;
    }

    .absolute {
        margin-top: 180px;
        height: 580px;
    }

    .botao, .botao_transparente {
        padding: 16px 32px;
        font-size: 24px;
        margin-left: 10px;
    }

    .paragrafo {
        font-size: 24px;
    }

    .duvida h3 {
        font-size: 20px;
    }
}